{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center">Bienvenu(e) dans notre site</h2>
          </div>
          <div class="col-lg-12">
            <p class="text-justify">
              <img src="{{ asset('/images/Bible_30px.png') }}"><strong>LA CRÉATION</strong>, Né 9:6 ; Ps 124:8 ; Jr 32:17 ;
               Jr 10:12 ; Rm 1:20 ; Ap 4:11 ; Jn 1:1-3
               1 Au commencement, Dieu créa les cieux et la terre. 
               Ps 104:2 ; Es 45:72 La terre était informe et vide: il y avait des ténèbres à la 
               surface de l'abîme, et l'esprit de Dieu se mouvait au-dessus des eaux. 3 Dieu dit: 
               Que la lumière soit! Et la lumière fut. 4 Dieu vit que la lumière était bonne; et 
               Dieu sépara la lumière d'avec les ténèbres. 5 Dieu appela la lumière jour, et il 
               appela les ténèbres nuit. Ainsi, il y eut un soir, et il y eut un matin: ce fut le
                premier jour. Ps 104:2-3 ; Ps 19:2 6 Dieu dit: Qu'il y ait une étendue entre les 
                eaux, et qu'elle sépare les eaux d'avec les eaux. 7 Et Dieu fit l'étendue, et il
                sépara les eaux qui sont au-dessous de l'étendue d'avec les eaux qui sont au-dessus
                de l'étendue. Et cela fut ainsi. 8 Dieu appela l'étendue ciel. Ainsi, il y eut un soir,
                et il y eut un matin: ce fut le second jour. 
            </p>
            
          </div>
          <div class="col-lg-3">
            <P><img src="{{ asset('/images/Calendar_20px.png') }}"> NOS PROGRAMMES</P>
            <p>
             <strong>Mardi:</strong> culte d'enseignement<br>
             <strong>Jeudi:</strong> culte d'intercession<br>
             <strong>Dimanche:</strong> culte d'adoration<br>
            </p>
          </div>
          <div class="col-lg-3">
            <P><img src="{{ asset('/images/Clock_20px.png') }}"> HEURES DE CULTE</P>
            <p>
             <strong>Mardi:</strong> 17h30' - 19h30'<br>
             <strong>Jeudi:</strong> 17h30' - 19h30'<br>
             <strong>Dimanche:</strong> 09h30' - 12h30'<br>
            </p>

          </div>
          <div class="col-lg-3">
            <P><img src="{{ asset('/images/Lecturer_20px.png') }}"> MODERATEURS</P>
            <p>
             <strong>Mardi:</strong> Fr. Nsingi<br>
             <strong>Jeudi:</strong> Fr. Merveille<br>
             <strong>Dimanche:</strong> Fr. Gaby<br>
            </p>

          </div>
          <div class="col-lg-3">
            <P><img src="{{ asset('/images/Music_20px.png') }}"> ORCHESTRES</P>
            <p>
             <strong>Mardi:</strong> Heritiers de la promessse<br>
             <strong>Jeudi:</strong> Elus de Dieu<br>
             <strong>Dimanche:</strong> Femmes de distinction<br>
            </p>
          </div>
          <div class="col-lg-12">
            <P class="text-center"><img src="{{ asset('/images/Facebook_25px.png') }}"> Eglise le camp de l'eternel</P>
          </div>
    </div>
          
{% endblock %}