{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
          <div class="col-lg-12 mr-auto ml-auto" >
            <p class="text-center"><img src="{{ asset('/images/maphoto1.jpg') }}"></p>
            <p class="text-center"><strong>Gloria MAKIESE</strong>, fullstack web developpeur</p>
          </div>
         
          <div class="col-lg-12 text-justify">
            <p> Ce present site est un site de gestion de membres d'une église en ligne, il a un
             menu constitué de 4 pages, dont la premiere est la page d'acceuil permettant d'afficher
             le programme de l'église, la deuxieme est une page ayant un formulaire pemettant de gerer 
             les membres de l'église (ajouter, modifier et supprimer), la troisieme permet de lister les
             membres enregistrés dans la base de données et la quatrieme c'est l'à propos. </p>
          </div>
          <div class="col-lg-2 mx-auto">
            <p><img src="{{ asset('/images/Facebook_25px.png') }}"> Gloria Makiese</p>
          </div>
          <div class="col-lg-2 mx-auto">
            <p><img src="{{ asset('/images/Twitter_25px.png') }}"> Gloria Makiese</p>
          </div>
          <div class="col-lg-2 mx-auto">
            <p><img src="{{ asset('/images/LinkedIn_25px.png') }}"> Gloria Makiese</p>
          </div>
          <div class="col-lg-2 mx-auto">
            <p><img src="{{ asset('/images/GitHub_25px.png') }}"> Gloria Makiese</p>
          </div>
          <div class="col-lg-12 text-center">
            <hr>
            <p>&copy;copyright 2020 | designed by GM Design</p>
          </div>
          
        </div>
{% endblock %}